<!DOCTYPE html>
<html>
<head>
  <title>WebAppDevelopment</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<ul>
  <li><a href="courses">Courses</a></li>
  <li><a href="sections">Sections</a></li>
  <li style="float:right"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
</ul>

<%= yield %>
</body>
</html>
